.listContainer{
  display: flex;
  flex-direction: column;
  background-color: black;
  /* justify-content: center; */
}
.listInfo{
  /* gap: 20px; */
  padding: 15px;
  box-shadow: 10px 10px 10px grey;
}
.listDisplay{
  /* gap: 20px; */
}
.responsive-img{
  border-radius: 10%;
}
.delete{
  background-color: aqua;
}
.add{
  background-color: black;
}