.blogBody{
  display: flex;
  /* flex-wrap: flex-start; */
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-self: center;
  /* gap: 10px; */
}
.blogContainer{
  /* display: flex; */
  
  
  /* grid-gap: 20%; */
  /* grid-gap: 20%; */
  margin-bottom: 15px;
  /* flex-basis: content; */

  /* background-color: black; */
}
.blogBody{
  text-align: center;
}
.responsive-img{
  align-self: center;
  display: inline-block;
  /* grid-gap: 20%; */

}
