/* .blogBody{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.blogContainer{
  margin-bottom: 15px;
}
.blogBody{
  text-align: center;
}
.responsive-img{
  
  display: inline-block;
} */
