.page-footer{
  height: 200px;
  background-image: linear-gradient( #006064, #043D41);
   padding-top: 0px;
}

.mvlogo{
  height: 50px;
}
ul li {
  display: inline-block;
  justify-content: space-evenly;
}
li {
  font-size: 18px;
}
p{
  font-size: 18px;
  margin: 0px;
}
.container{
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
.col container{

}
