h1, h3 {
  font-size: 30px;
}
.smile{
  font-size: 20px;
  font-style: italic;
}
/* img.responsive-img{
  width: 140px;
  height: 180px;
  display: inline-block;
}
.feed .responsive-img {
  width: 140px;
  height: 180px;
  display: inline-block;
} */
/* .homeContainer{
  position: relative;
  width: 100%;
  opacity: 1;
} */
 /* .overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.233);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC);
}  */