/* .contact{
  color: black;
} */
h1{
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.Real-Estate{
  background-color: #006064;  
}
.navbar-wrapper{
  background-color: #00838F;
}
.footer{
  background-color: DARKCYAN;
}

