body{
  margin: 0px;
  font-family: "Myriad Pro, san-serif";
}
.about, p{
  margin: 10px;
}
.header{
  margin: 20px;
  float: center;
}
.Real-Estate{
  text-align: center;
  /* background-color: black;   */
}

.profileDisplay{
  font-size: 20px;
  margin: 20px;
}
.mvlogo{
  height: 100px;
  width: 100px;
}
.profileInfo{
  width: 400px;
  height: 400px;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
}
.form{
  text-align: center; 
}
input{
  text-align: center;
}
p{
  margin: 10px;
}
.misty, .charles, .couple2{
  height: 200px;
  width: 200px;
}
.displayImg{
  height: 100px;
  width: 100px;
}


