 nav{
  /* background-color: #006064; */
  background-color: white;
}
.nav-wrapper{
display: flex;
color: #006064;

}
nav ul a {
  background: -webkit-linear-gradient( #006064, rgb(3, 43, 46));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hide-on-med-and-down{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.nav-link{
  /* float: right;
  justify-items: right; */
}
.logout{
  /* float: top; */
  align-self: flex-end;
}
/* .adminInfo{
  color: #9e9e9e;
} */